<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0561VDBxHCTGSEXylcbP-Y-ZfPl1OyK4</string>
	<key>GCM_SENDER_ID</key>
	<string>70507233363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.tea</string>
	<key>PROJECT_ID</key>
	<string>appautismo-5daeb</string>
	<key>STORAGE_BUCKET</key>
	<string>appautismo-5daeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70507233363:ios:e558522f5c51a4974286a6</string>
</dict>
</plist>